<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:head>
        <title>#{msgs.pageTitle}</title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>
    <h:body>
        <h1>#{msgs.pageHeader1}</h1>
        <h:form>
            <h:panelGrid columns="3" cellpadding="1" border="0" cellspacing="10"
                         title="#{msgs.signup}" columnClasses="firstColumn,secondColumn,thirdColumn"
                         rowClasses="rowHeight, rowHeight">
                <f:facet name="header">
                    <h:outputText value="#{msgs.signup}" />
                </f:facet>

                <h:outputLabel for="login_name" value="#{msgs.login_name}"/>
                <h:inputText id="login_name" 
                             value="#{passwordBacking.user.loginName}"
                             required="true"
                             requiredMessage="#{msgs.required}" >
                    <f:validateLength maximum="45" />
                </h:inputText>
                <h:messages for="login_name" styleClass="message" />

                <h:outputLabel for="password" value="#{msgs.password}"/>
                <h:inputText id="password" label="#{msgs.age}"
                             value="#{passwordBacking.user.password}"
                             required="true"
                             requiredMessage="#{msgs.required}">
                    <f:validateLength maximum="12" />
                </h:inputText>
                <h:messages for="password" styleClass="message" />

                <h:outputLabel for="password_confirm" value="#{msgs.confirm}"/>
                <h:inputText id="password_confirm"
                             value="#{passwordBacking.passwordConfirm}"
                             required="true"
                             requiredMessage="#{msgs.required}"
                             validator="#{passwordBacking.validatePasswordError}">
<!--                             validator="#{passwordBacking.validatePasswordCorrect}">-->
                    <f:validateLength maximum="12" />
                </h:inputText>
                <h:messages for="password_confirm" styleClass="message" />

            </h:panelGrid>
            <h:commandButton id="saveButton" value="#{msgs.save}"
                             action="#{passwordBacking.doSomething()}"
                             styleClass="myButton"/>
        </h:form>
    </h:body>
</html>

